<div
  class="pt-6 bg-splash bg-cover appBackground/10 bg-blend-multiply min-h-[calc(100vh-68px)] w-full"
>
  <h1
    class="text-5xl font-raleway font-bold text-appWhiteText text-center pt-4"
  >
    Mis Part<span class="text-appPrimary">idos</span>
  </h1>
  <h3 class="font-raleway font-bold text-appWhiteText text-center pt-3">
    Aquí aparecerán los partidos publicados para jugar.<br />
    Recordá que tenés que ser parte de un equipo para poder jugar
  </h3>

  <section class="pl-3 mt-6 flex justify-center gap-3">
    <button
      type="button"
      (click)="openCreateTeamModal()"
      class="bg-appPrimary text-black font-bold w-36 h-10 rounded-md"
    >
      <i class="fa-solid fa-plus text-black"></i>
      Crear Equipo
    </button>

    <button
      type="button"
      class="bg-appPrimary text-black font-bold w-36 h-10 rounded-md ml-3"
      (click)="openCreateMatchModal()"
    >
      <i class="fa-solid fa-plus text-black"></i>
      Crear Partido
    </button>
  </section>

  <section class="flex gap-4 p-4 h-full w-[1200px] mx-auto">
    <article
      class="flex-1 border border-appPrimary p-4 text-appWhiteText bg-appBackground rounded-lg mr-10"
    >
      <h2 class="text-xl font-bold mb-2 text-appWhiteText text-center">
        Creados
      </h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-4 mt-6">
        <div
          *ngFor="let partido of hardcodedPartidos"
          class="p-4 rounded-lg cursor-pointer text-appWhiteText transition hover:scale-105 bg-appBackground border border-appPrimary w-36 text-center"
        >
          <div class="gap-2 font-bold">
            <span class="text-bold text-center"
              ><i class="fa-solid fa-people-group pr-1"></i
              >{{ partido.equipo }}</span
            >
          </div>
          <span class="font-bold">{{ partido.nombre }}</span>
          <div class="text-sm">{{ partido.categoria }}</div>
          <div class="text-sm font-bold">
            <i class="fa-solid fa-calendar pr-1"></i>{{ partido.fecha }}
          </div>
        </div>
      </div>
    </article>
    <article
      class="flex-1 border border-appPrimary p-4 text-appWhiteText bg-appBackground rounded-lg mr-10"
    >
      <h2 class="text-xl font-bold mb-2 text-appWhiteText text-center">
        Pendientes
      </h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-4 mt-6">
        <div
          *ngFor="let partido of hardcodedPartidos"
          class="p-4 rounded-lg cursor-pointer text-appWhiteText transition hover:scale-105 bg-appBackground border border-appPrimary w-36 text-center"
        >
          <div class="gap-2 font-bold">
            <span class="text-bold text-center"
              ><i class="fa-solid fa-people-group pr-1"></i
              >{{ partido.equipo }}</span
            >
          </div>
          <span class="font-bold">{{ partido.nombre }}</span>
          <div class="text-sm">{{ partido.categoria }}</div>
          <div class="text-sm font-bold">
            <i class="fa-solid fa-calendar pr-1"></i>{{ partido.fecha }}
          </div>
        </div>
      </div>
    </article>
    <article
      class="flex-1 border border-appPrimary p-4 text-appWhiteText bg-appBackground rounded-lg mr-10"
    >
      <h2 class="text-xl font-bold mb-2 text-appWhiteText text-center">
        Confirmados
      </h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-4 mt-6">
        <div
          *ngFor="let partido of hardcodedPartidos"
          class="p-4 rounded-lg cursor-pointer text-appWhiteText transition hover:scale-105 bg-appBackground border border-appPrimary w-36 text-center"
        >
          <div class="gap-2 font-bold">
            <span class="text-bold text-center"
              ><i class="fa-solid fa-people-group pr-1"></i
              >{{ partido.equipo }}</span
            >
          </div>
          <span class="font-bold">{{ partido.nombre }}</span>
          <div class="text-sm">{{ partido.categoria }}</div>
          <div class="text-sm font-bold">
            <i class="fa-solid fa-calendar pr-1"></i>{{ partido.fecha }}
          </div>
        </div>
      </div>
    </article>
  </section>

  <app-modal-create-team
    [showCreateTeamModal]="showCreateTeamModal"
    [createTeamForm]="createTeamForm"
    [players]="players"
    (close)="closeCreateTeamModal()"
    (confirm)="onConfirmTeamModal()"
  ></app-modal-create-team>

  <app-modal-create-match
    [showCreateMatchModal]="showCreateMatchModal"
    [matchGroup]="matchGroup"
    [teams]="teams"
    (close)="closeCreateMatchModal()"
    (confirm)="onConfirmMatchModal()"
  ></app-modal-create-match>
</div>
