<div
  *ngIf="court"
  class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-10 p-4"
>
  <div
    class="bg-appBackground text-appWhiteText rounded-xl w-full max-w-[60vw] p-6 relative"
  >
    <button
      (click)="onClose()"
      class="absolute top-3 right-3 text-appWhiteText hover:text-appError"
    >
      ✕
    </button>

    <h2 class="text-2xl font-bold text-center mb-6">Cancha {{court.index}}</h2>
    <div class="w-full flex flex-row  items-center text-center justify-center gap-3">
      <label class="flex text-xl font-roboto font-bold">Material piso: <span class="font-normal">{{court.floorMaterialName}}</span></label>
      <label class="flex text-xl font-roboto font-bold">Material pared:<span class="font-normal"> {{court.wallMaterialName}}</span></label>
      <label class="flex text-xl font-roboto font-bold">Techada: <span class="font-normal">{{court.roofted}}</span></label>
    </div>

    <div class="flex flex-row my-4 w-full gap-3 items-center align-middle justify-center">
      <svg 
      (click)="changeWeek(false)"
      *ngIf="currentSunday!==firstSunday"
      xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 cursor-pointer">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
      </svg>
      <div class="flex flex-col text-center">
        <label class="font-semibold">Semana</label>
        <span>{{currentSunday}} - {{currentSaturday}}</span>
      </div>
      <svg 
      (click)="changeWeek(true)"
      xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 cursor-pointer">
        <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
      </svg>
    </div>
    <app-turn-table
      [columns]="columns"
      [rows]="tableTurns"
      [type]="'viewClub'"
      (rowClick)="clickRow($event)"
      
    >

    </app-turn-table>
  </div>
</div>


<ng-container
[ngSwitch]="selectedTurn?.stateId"
>
<div *ngSwitchCase="1"
  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-20 transition-opacity duration-300"
>
  <div
    class="bg-appBackground rounded-lg p-6 w-11/12 max-w-md shadow-lg transform transition-all scale-100"
  >
    <h2
      class="text-xl font-bold mb-4 text-center text-appWhiteText font-raleway"
    >
      Turno libre
    </h2>
    <p class="text-appWhiteText text-center">
      {{ selectedTurn?.date }} - {{selectedTurn?.startHour}}
    </p>
      <div class="flex flex-col flex-wrap flex-1 basis-1/4">
        <label
          for="playerName"
          class="text-sm text-appWhiteText font-medium mb-2"
          >Ingrese un nombre</label
        >
        <input
          id="playerName"
          type="text"
          [(ngModel)]="playerName"
          class="w-full border border-[#EBFF00] bg-transparent text-appWhiteText rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-green-400"
        />
      </div>
    <div class="mt-6 flex justify-center gap-2">
      <button
        (click)="markAsReserved()"
        class="bg-transparent text-appWhiteText px-6 py-2 rounded-md font-semibold border border-appPrimary"
      >
      Marcar como reservado
      </button>

      <button
        class="bg-appPrimary text-appBlackText px-6 py-2 rounded-md font-semibold"

      >
      Marcar como pagado
      </button>
    </div>
  </div>

</div>
</ng-container>