<div
  *ngIf="match"
  class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-20 p-4"
>
  <div
    class="bg-appBackground text-appWhiteText rounded-xl w-full max-w-[45vw] p-6 relative"
  >
    <!-- Título centrado -->
    <h2 class="text-2xl font-bold text-center">Partido</h2>

    <!-- Botón derecho -->
    <div class="flex justify-end">
      <button (click)="onClose()" class="text-appWhiteText hover:text-appError">
        ✕
      </button>
    </div>

    <div class="flex flex-col flex-wrap">
      <h3 class="text-xl font-bold text-center mb-2">Equipo seleccionado:</h3>
      <div class="flex flex-row gap-4 justify-center mb-4">
        <label class="flex text-lg font-roboto font-semibold gap-1"
          >Nombre:
          <span class="font-normal">{{ match?.ownTeam?.name }}</span></label
        >
        <label class="flex text-lg font-roboto font-semibold gap-1"
          >Compañero:
          <span class="font-normal">{{ match?.ownTeam?.partner }}</span></label
        >
      </div>

      <h3 class="text-xl font-bold text-center mb-2">Equipo Rival:</h3>
      <div class="flex flex-row gap-4 justify-center mb-4">
        <label class="flex text-lg font-roboto font-semibold gap-2"
          >Nombre:
          <span class="font-normal">{{ match?.rivalTeam?.name }}</span></label
        >
        <label class="flex text-lg font-roboto font-semibold gap-2"
          >Rivales:
          <span class="font-normal"
            >{{ match?.rivalTeam?.players?.[0] ?? '' }} -
            {{ match?.rivalTeam?.players?.[1] ?? '' }}
          </span></label
        >
      </div>

      <h3 class="text-xl font-bold text-center mb-4">Datos del club</h3>
      <div class="flex flex-row gap-4 justify-center mb-4">
        <label class="flex text-lg font-roboto font-semibold gap-1"
          >Nombre:
          <span class="font-normal">{{ match?.club?.name }} </span></label
        >
        <label class="flex text-lg font-roboto font-semibold gap-1"
          >Telefono:
          <span class="font-normal">{{ match?.club?.cellNumber }} </span></label
        >
      </div>

      <div>
        <h3 class="text-xl font-bold text-center mb-4">Datos del turno</h3>
        <div class="flex flex-row gap-4 justify-center text-center mb-4">
          <p class="font-medium">
            El partido se jugara en la fecha {{ match?.turn?.date }} comenzando
            a las {{ match?.turn?.startHour }} y finalizando a las
            {{ match?.turn?.endHour }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
