<div class="pt-6 bg-appBackground min-h-[calc(100vh-68px)] w-full">
  <h1 class="text-5xl font-raleway font-bold text-white text-center pt-2 mb-2">
    Mis can<span class="text-secondary">chas</span>
  </h1>
  <section class="flex flex-col items-center justify-center text-center w-full text-xl my-8 text-white">
    <span>Aqui podra ver las canchas que ingreso al momento de configurar el perfil</span>
    <span>¿No ve turnos en ninguna? Puede crearlos ahora</span>
  </section>
  <section class="mt-3 mb-5 w-full flex justify-center">
    
    <button
      type="button"
      (click)="openDiagramTurnModal()"
      class="bg-appPrimary text-black font-bold w-fit py-2 px-4 h-fit rounded-md"
    >
        Diagramar turnos
    </button>

  </section>

  <section *ngIf="club" class="flex flex-row justify-center align-middle w-full overflow-auto gap-5">
      <article *ngFor="let court of club?.courts"
      (click)="setSelectedCourt(court.index-1)"
      class="relative w-full min-w-[300px] lg:w-60 h-[24rem] bg-cover bg-center  overflow-hidden flex flex-col justify-between rounded-3xl hover:scale-105 transition-transform duration-200 cursor-pointer"
          style="background-image: url('imgs/canchaPadel.jpeg')">
            <h3 class=" text-2xl font-bold text-appBlackText w-full text-center py-2">Cancha {{court.index}}</h3>
            <article class="p-4 text-xl font-bold text-appBlackText flex flex-col gap-2">
              <p class="text-lg font-semibold text-appBlackText">Turnos: </p>
              <p class="text-lg font-semibold text-appBlackText">Disponibles: <span class="font-medium">{{court.availableTurns}}</span></p>
              <p class="text-lg font-semibold text-appBlackText">Reservados: <span class="font-medium">{{court.reservedTurns}}</span></p>
              <p class="text-lg font-semibold text-appBlackText" >Pagados : <span class="font-medium">{{court.paidTurns}}</span></p>
            </article>
      </article>
    
  </section>
<app-diagram-turn-modal
*ngIf="diagramTurnModalOpen"
(onClose)="closeDiagramTurnModal"></app-diagram-turn-modal>
 
</div>
<app-diagram-turn-modal
  [isOpen]="diagramTurnModalOpen"
  (onCloseModal)="closeDiagramTurnModal()"
  [columns]="columns"
  [club]="club"></app-diagram-turn-modal>

  <app-court-modal
  (onCloseModal)="closeCourtModal()"
  [columns]="columns"
  [court]="selectedCourt"></app-court-modal>