<div class="pt-6 bg-primary min-h-[calc(100vh-68px)] w-full">
  <h1 class="text-5xl font-raleway font-bold text-white text-center pt-4">
    Mis can<span class="text-secondary">chas</span>
  </h1>
  <section class="flex flex-col items-center justify-center w-full text-xl my-8 text-white">
    <span>Aqui podra ver las canchas que ingreso al momento de configurar el perfil</span>
    <span>¿No ve turnos en ninguna? Puede crearlos ahora</span>
  </section>
  <section class="mt-3 mb-5 w-full flex justify-center">
    
    <button
      type="button"
      class="bg-secondary text-black font-bold w-fit py-2 px-4 h-fit rounded-md"
    >
        Diagramar turnos
    </button>

  </section>

  <section *ngIf="club" class="flex flex-row justify-center align-middle w-full gap-5">
    <article *ngFor="let court of club.courts"
    class="relative w-[17.5rem] h-[24rem] bg-cover bg-center  overflow-hidden flex flex-col justify-between rounded-3xl"
         style="background-image: url('imgs/canchaPadel.jpeg')">
          <h3 class=" text-2xl font-bold text-#141414 w-full text-center py-2">Cancha {{court.index}}</h3>
          <article class="p-4 text-xl font-bold text-#141414 flex flex-col gap-2">
            <p class="text-lg font-bold text-#141414">Turno</p>
            <p class="text-lg font-semibold text-#141414">Disponibles: <span class="font-medium">20</span></p>
            <p class="text-lg font-semibold text-#141414">Disponibles: <span class="font-medium">20</span></p>
            <p class="text-lg font-semibold text-#141414">Disponibles: <span class="font-medium">20</span></p>
          </article>
      </article>
  </section>
 
</div>
