<div class="bg-splash bg-cover min-h-[calc(100vh-68px)] bg-no-repeat">
  <h1 class="text-5xl pt-8 ml-6 font-bold text-appWhiteText text-center">
    Juga. <span class="text-appPrimary">Conectate.</span><br />
    Mejora tu juego en nuestra plataforma
  </h1>
  <div class="flex mt-12">
    <div class="w-96 h-36 bg-appBackground bg-opacity-30 shadow-lg">
      <span>
        <h2
          class="text-3xl font-raleway font-bold text-appWhiteText text-center pt-1"
        >
          ¿Qué es <span class="text-appPrimary">PadelApp?</span>
        </h2>
        <p
          class="text-appWhiteText font-roboto text-sm text-center font-bold pt-2 pl-3 pr-3"
        >
          <span class="text-appPrimary">PadelApp</span> es una plataforma
          diseñada para jugadores de pádel que buscan mejorar su juego,
          conectarse con otros jugadores y disfrutar de una experiencia única en
          el mundo del pádel.
        </p>
      </span>
    </div>
  </div>
</div>
