<div class="bg-loginbg min-h-[calc(100vh-68px)] bg-cover bg-no-repeat">
  <h1 class="text-5xl pt-8 ml-6 font-bold text-white text-center">
    Juga. <span class="text-[#D6FF1D]">Conectate.</span><br />
    Mejora tu juego en nuestra plataforma
  </h1>
  <div class="flex mt-12">
    <div class="w-96 h-24 bg-[#011738]">
      <span>
        <h2 class="text-2xl font-raleway font-bold text-white text-center pt-1">
          ¿Qué es <span class="text-[#D6FF1D]">PadelApp?</span>
        </h2>
        <p class="text-white font-roboto text-xs text-center font-bold pt-2">
          <span class="text-[#D6FF1D]">PadelApp</span> es una plataforma
          diseñada para jugadores de pádel que buscan mejorar su juego,
          conectarse con otros jugadores y disfrutar de una experiencia única en
          el mundo del pádel.
        </p>
      </span>
    </div>
    <img src="imgs/asd.svg" alt="" class="w-24 h-24" />
  </div>
</div>
