<div class="pt-16 bg-primary min-h-[calc(100vh-68px)] w-full">
  <div>
    <h1 class="text-5xl font-raleway font-bold text-white text-center pt-4">
      Configurar <span class="text-[#D6FF1D]">Perfil.</span>
    </h1>
    <h3 class="font-raleway font-bold text-white text-center pt-4">
      Complete la siguiente informacion para usar la aplicacion.
    </h3>
  </div>

  <section class="px-4 py-6 sm:px-8 sm:py-12 font-roboto">
    <form [formGroup]="form">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
        <div *ngFor="let item of EditItems" class="flex flex-col">
          <label
            [for]="getControlName(item.name)"
            class="text-sm text-white font-medium mb-2"
          >
            {{ item.name }}
          </label>

          <ng-container [ngSwitch]="item.type">
            <input
              *ngSwitchDefault
              [id]="getControlName(item.name)"
              [type]="item.type"
              [formControlName]="getControlName(item.name)"
              class="border border-[#EBFF00] bg-transparent text-white rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-green-400"
            />

            <select
              *ngSwitchCase="'select'"
              [id]="getControlName(item.name)"
              [formControlName]="getControlName(item.name)"
              class="border border-[#EBFF00] bg-transparent text-white rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-green-400"
            >
              <option class="bg-[#011738] text-white" value="" disabled>
                Seleccione {{ item.name }}
              </option>
              <option
                class="bg-[#011738] text-white"
                *ngFor="let option of item.options"
                [value]="option"
              >
                {{ option }}
              </option>
            </select>
          </ng-container>

          <!-- Validación -->
          <small
            *ngIf="
              form.get(getControlName(item.name))?.invalid &&
              form.get(getControlName(item.name))?.touched
            "
            class="text-red-400 text-xs mt-1"
          >
            Este campo es obligatorio.
          </small>
        </div>
      </div>
    </form>

    <!-- Botón Confirmar -->
    <button
      class="bg-[#EBFF00] rounded-md w-64 h-10 mt-5 font-bold block mx-auto ring-2"
      (click)="openModal()"
    >
      Confirmar
    </button>

    
    <!-- Modal de Carga -->
    <div
      *ngIf="isLoading"
      class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50"
    >
      <div
        class="bg-transparent rounded-lg p-6 w-11/12 max-w-xs shadow-lg flex flex-col items-center"
      >
        <div
          class="w-48 h-48 border-4 border-white border-t-transparent rounded-full animate-spin mb-4"
        ></div>
        <p class="text-white font-bold">Guardando cambios...</p>
      </div>
    </div>
   
  </section>
</div>
