<div class="bg-splash bg-cover min-h-[calc(100vh-68px)] w-full">
  <h1 class="text-5xl pt-8 ml-6 font-bold text-appWhiteText text-center">
    Busca <span class="text-appPrimary">Partidos</span><br />
  </h1>
  <h3 class="text-2x1 pt-2 text-center text-appWhiteText font-bold">
    Aquí apareceran los partidos publicados para jugar. <br />
    Recorda que tenes que se parte de un equipo para poder jugar
  </h3>

  <div
    class="flex flex-col justify-center items-center gap-4 mt-6 mb-6 font-roboto font-bold"
  >
    <div class="flex flex-wrap flex-col lg:flex-row justify-center items-center gap-4">
      <div class="flex flex-col">
        <label class="mb-1 text-sm font-normal text-appWhiteText"
          >Material Piso</label
        >
        <select
          [(ngModel)]="filters.materialPiso"
          class="h-10 px-4 rounded-lg border border-appPrimary text-appWhiteText bg-appBackground focus:outline-none focus:ring-2 focus:ring-appPrimary"
        >
          <option value="" disabled>Seleccione material</option>
          <option *ngFor="let material of floorMaterials" [value]="material.id">
            {{ material.name }}
          </option>
        </select>
      </div>

      <!-- Material Pared -->
      <div class="flex flex-col">
        <label class="mb-1 text-sm font-normal text-appWhiteText"
          >Material Pared</label
        >
        <select
          [(ngModel)]="filters.materialPared"
          class="h-10 px-4 rounded-lg border border-appPrimary text-appWhiteText bg-appBackground focus:outline-none focus:ring-2 focus:ring-appPrimary"
        >
          <option value="" disabled>Seleccione material</option>
          <option *ngFor="let material of wallMaterials" [value]="material.id">
            {{ material.name }}
          </option>
        </select>
      </div>

      <!-- Techada -->
      <div class="flex flex-col">
        <label class="mb-1 text-sm font-normal text-appWhiteText"
          >Techada</label
        >
        <select
          [(ngModel)]="filters.techada"
          class="h-10 px-4 rounded-lg border border-appPrimary text-appWhiteText bg-appBackground focus:outline-none focus:ring-2 focus:ring-appPrimary"
        >
          <option value="" disabled>Seleccione</option>
          <option value="true">Sí</option>
          <option value="false">No</option>
        </select>
      </div>
    </div>

    <!-- Buttons Row -->
    <div class="flex flex-col lg:flex-row gap-4">
      <button
        (click)="buscar()"
        class="h-10 px-5 rounded-lg font-bold bg-appPrimary text-black hover:opacity-90 transition hover:bg-transparent hover:text-appWhiteText transition hover:border border-appPrimary"
      >
        Buscar
      </button>

      <button
        (click)="reiniciarFiltros()"
        class="h-10 px-5 rounded-lg font-bold border border-appPrimary text-appWhiteText hover:bg-appPrimary hover:text-black transition"
      >
        Reiniciar Filtros
      </button>
    </div>
  </div>

  <!-- Matches List -->

  <section class="flex flex-wrap justify-center font-roboto">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mt-6">
      <div
        *ngFor="let partido of filteredPartidos"
        class="p-4 rounded-lg cursor-pointer text-appWhiteText transition hover:scale-105 bg-appBackground border border-appPrimary w-56 h-32"
        (click)="openAcceptMatchModal(partido)"
      >
        <!-- Teams list -->
        <div class="font-bold w-48">
          <span *ngFor="let mt of partido.MatchesTeams">
            <i class="fa-solid fa-people-group"></i> {{ mt.team?.name }}
          </span>
        </div>

        <div class="text-sm pt-2 w-48">
          <span *ngFor="let mt of partido.MatchesTeams">
            <i class="fa-solid fa-table-tennis-paddle-ball w-4"></i>
            <span *ngFor="let pt of mt.team?.PlayersTeams; let last = last">
              {{ pt.player?.category?.name }}<span *ngIf="!last"> /</span>
            </span>
          </span>
        </div>
        <div class="text-sm pt-2 w-48">
          <i class="fa-solid fa-calendar"></i>
          <span
            *ngFor="
              let date of getUniqueDates(partido.timeSlots);
              let last = last
            "
          >
            {{ date }}<span *ngIf="!last"> / </span>
          </span>
        </div>
      </div>
    </div>
  </section>
  <app-modal-accept-match
    [showAcceptMatchModal]="showAcceptMatchModal"
    [match]="selectedMatch"
    (accepted)="onMatchAccepted($event)"
    (close)="onCloseAcceptMatchModal()"
  ></app-modal-accept-match>
</div>
