<div class="bg-appBackground min-h-[calc(100vh-68px)] w-full">
  <h1 class="text-5xl pt-8 ml-6 font-bold text-appWhiteText text-center">
    Busca <span class="text-appPrimary">Partidos</span><br />
  </h1>
  <h3 class="text-2x1 pt-2 text-center text-appWhiteText font-bold">
    Aquí apareceran los partidos publicados para jugar. <br />
    Recorda que tenes que se parte de un equipo para poder jugar
  </h3>

  <div
    class="flex flex-wrap justify-center items-center gap-4 mt-6 mb-6 font-roboto font-bold"
  >
    <!-- Material Piso -->
    <select
      [(ngModel)]="filters.materialPiso"
      class="h-10 px-4 rounded-lg border border-appPrimary text-appWhiteText bg-appBackground focus:outline-none focus:ring-2 focus:ring-appPrimary"
    >
      <option value="" disabled>Material Piso</option>
      <option *ngFor="let material of floorMaterials" [value]="material.id">
        {{ material.name }}
      </option>
    </select>

    <!-- Material Pared -->
    <select
      [(ngModel)]="filters.materialPared"
      class="h-10 px-4 rounded-lg border border-appPrimary text-appWhiteText bg-appBackground focus:outline-none focus:ring-2 focus:ring-appPrimary"
    >
      <option value="" disabled>Material Pared</option>
      <option *ngFor="let material of wallMaterials" [value]="material.id">
        {{ material.name }}
      </option>
    </select>

    <!-- Techada -->
    <select
      [(ngModel)]="filters.techada"
      class="h-10 px-4 rounded-lg border border-appPrimary text-appWhiteText bg-appBackground focus:outline-none focus:ring-2 focus:ring-appPrimary"
    >
      <option class="bg-appBackground" value="" disabled>Techada</option>
      <option class="bg-appBackground" value="true">Sí</option>
      <option class="bg-appBackground" value="false">No</option>
    </select>

    <!-- Buscar Button -->
    <button
      (click)="buscar()"
      class="h-10 px-5 rounded-lg font-bold bg-appPrimary text-black hover:opacity-90 transition"
    >
      Buscar
    </button>

    <!-- Reiniciar Filtros Button -->
    <button
      (click)="reiniciarFiltros()"
      class="h-10 px-5 rounded-lg font-bold border border-appPrimary text-appWhiteText hover:bg-appPrimary hover:text-black transition"
    >
      Reiniciar Filtros
    </button>
  </div>
  <!-- Matches List -->

  <section class="flex flex-wrap justify-center items-center font-roboto">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mt-6">
      <div
        *ngFor="let partido of filteredPartidos"
        class="p-4 rounded-lg cursor-pointer text-appWhiteText transition hover:scale-105 bg-appBackground border border-appPrimary w-48 text-center"
        (click)="openAcceptMatchModal()"
      >
        <!-- Teams list -->
        <div class="gap-2 font-bold text-center">
          <span *ngFor="let mt of partido.MatchesTeams">
            <i class="fa-solid fa-people-group"></i> {{ mt.team?.name }}
          </span>
        </div>

        <div class="text-sm text-center pt-2">
          <span *ngFor="let mt of partido.MatchesTeams">
            <i class="fa-solid fa-table-tennis-paddle-ball"></i>
            <span *ngFor="let pt of mt.team?.PlayersTeams; let last = last">
              {{ pt.player?.category?.name }}<span *ngIf="!last"> /</span>
            </span>
          </span>
        </div>
      </div>
    </div>
  </section>
</div>
